#section-about {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about-paragraph {
    margin-top: 40px;
}

.about-images-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 58px;
}

.about-images-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    @media screen and (max-width: 1439px) {
        gap: 20px;
    }
}

.about-images-items {
    display: flex;
    gap: 25px;
}

.carousel-pagination {
    display: flex;
    margin-bottom: -5px;
}

.arrow-button {
    width: 24px;
    height: 24px;
    border: 0;
    display: none; 

    @media screen and (max-width: 1439px) {
        display: block;
    }
}

.arrow-left {
    background: url(/library/assets/Carret_Left.svg);
}

.arrow-right {
    background: url(/library/assets/Carret_Right.svg);
}

.images-item {
    @media  screen and (max-width: 1439px) {
        display: none;
    }
}

.separate-container {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.separate-container-extra {
    display: none;

    @media screen and (max-width: 1439px) {
        display: flex;
    }
}

.inner-container {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;

    &.active {
        background-color: #BB945F;
    }
}
