* {
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

h1 {
  color: #FFF;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  height: 60px;
}
h2::after {
  content: "";
  position: absolute;
  background: #0C0C0E;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 1px;
  transform: translateX(-50%);
}

h3 {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}
h3::after {
  content: "";
  position: absolute;
  background: #BB945F;
  width: 60px;
  height: 1px;
  left: 0;
  bottom: 0;
}

header {
  width: 100%;
  background-color: #0C0C0E;
  display: inline-block;
}

.container {
  margin: auto 20px;
  padding: 20px 0 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.logo-title:hover {
  transition: 0.3s;
  color: #BB945F;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  gap: 30px;
  flex-direction: row;
  list-style: none;
  text-align: center;
  margin: auto;
}

.nav-link {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
.nav-link:hover {
  transition: 0.3s;
  color: #BB945F;
}

#section-welcome {
  background: no-repeat linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%), url(Images/welcome-1440.jpg);
  background-size: 100% 50%, cover;
  height: 600px;
}
#section-welcome .container {
  display: inline-block;
  margin: auto;
}

.welcome-title-container {
  background: #0C0C0E;
  width: 600px;
  height: 220px;
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-title-container p {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 370px;
}

.nowrap {
  white-space: nowrap;
}

#section-about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-paragraph {
  margin-top: 40px;
}

.about-images-container {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.carousel-pagination {
  display: flex;
  margin-top: 40px;
}

.separate-container {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inner-container {
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
}
.inner-container.active {
  background-color: #BB945F;
}

#section-favorites .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
#section-favorites .seasons-selector-title {
  align-self: start;
  font-weight: 700;
}

form {
  display: flex;
  align-items: center;
  align-self: start;
  gap: 90px;
}

.season-radio {
  accent-color: #000;
  background-color: #000;
  width: 15px;
  height: 15px;
  margin: 0;
  display: flex;
  gap: 20px;
}

.season-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.season-radio:checked + .season-title {
  font-weight: 700;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.favorites-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.favorites-items p {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}
.favorites-items span {
  text-transform: capitalize;
  display: block;
}
.favorites-items .description-book {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-container {
  display: flex;
  border: 1px solid #000;
  padding: 15px 0 15px 20px;
  gap: 15px;
}

.book-text-wrapper {
  width: 355px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
}

.book-img {
  width: 200px;
  height: 300px;
  align-self: flex-end;
  margin-right: -40px;
  margin-bottom: -16px;
}

.button-buy {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 9px 27px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: transparent;
  margin-top: -5px;
}
.button-buy:hover {
  border-color: #BB945F;
  background-color: #BB945F;
}/*# sourceMappingURL=style.css.map */