* {
    margin: 0;
    padding: 0;
    transition: .3s;
    box-sizing: border-box;
}

// html {
//     scroll-behavior: smooth;
// }

// body {
//     overflow-x: hidden;
// }

a {
    text-decoration: none;
}

p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

h1 {
    color: #FFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    height: 60px;

    &::after {
        content: "";
        position: absolute;
        background: #0C0C0E;
        left: 50%;
        bottom: 0;
        width: 50px;
        height: 1px;
        transform: translateX(-50%);
    }
}

h3 {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background: #BB945F;
        width: 60px;
        height: 1px;
        left: 0;
        bottom: 0;
    }
}

header {
    // position: absolute;
    width: 100%;
    background-color: #0C0C0E;
    display: inline-block;
}

.container {
    padding: 20px 20px 40px;
    width: 1440px;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-title:hover {
    transition: .3s;
    color: #BB945F;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-list {
    display: flex;
    gap: 30px;
    flex-direction: row;
    list-style: none;
    text-align: center;
    margin: auto;
}

.nav-link {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;

    &:hover {
        transition: .3s;
        color: #BB945F;
    }
}

#section-welcome {
    background: no-repeat linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(Images/welcome-1440.jpg);
    background-size: 100% 50%, cover;
    height: 600px;

    .container {
        padding-left: 0;
    }
}

.welcome-title-container {
    background: #0C0C0E;
    width: 600px;
    height: 220px;
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #FFF;
        text-align: center;
        font-family: Forum;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 3px;
        text-transform: uppercase;
        width: 370px;
    }
}

.nowrap {
    white-space: nowrap;
}

#section-about {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about-paragraph {
    margin-top: 40px;
}

.about-images-container {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.carousel-pagination {
    display: flex;
    margin-top: 40px;
}

.separate-container {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inner-container {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;

    &.active {
        background-color: #BB945F;
    }
}

#section-favorites {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .seasons-selector-title {
        align-self: start;
        font-weight: 700;
    }
}

form {
    display: flex;
    align-items: center;
    align-self: start;
    gap: 90px;
}

.season-radio {
    accent-color: #000;
    background-color: #000;
    width: 15px;
    height: 15px;
    margin: 0;
    display: flex;
    gap: 20px;
}

.season-title {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    .season-radio:checked+& {
        font-weight: 700;
    }
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.favorites-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    p {
        color: #000;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: left;
    }

    span {
        text-transform: capitalize;
        display: block;
    }

    .description-book {
        color: #000;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
}

.book-container {
    display: flex;
    border: 1px solid #000;
    padding: 15px 0 15px 20px;
    gap: 15px;
    width: 550px;
    height: 555px;
}

.book-text-wrapper {
    width: 355px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.book-img {
    width: 200px;
    height: 300px;
    align-self: flex-end;
    margin-right: -40px;
    margin-bottom: -16px;
}

.button-primary {
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 27px;
    border-radius: 2px;
    border: 1px solid;
    background-color: transparent;

    &:hover {
        border-color: #BB945F;
        background-color: #BB945F;
        color: #0C0C0E;
    }
}

.button-buy {
    color: #0C0C0E;
    border-color: #0C0C0E;
    position: absolute;
    bottom: 0;
}

.button-own {
    color: #BB945F;
    border-color: #BB945F;
    position: absolute;
    bottom: 0;
}

.disabled {
    display: none;
}

#section-coffee-shop {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    p {
        letter-spacing: 2px;
    }

    span {
        white-space: nowrap;
    }
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shop-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shop-list-item {
    display: flex;
    align-items: center;
    gap: 60px;
}

.coffee-tea-menu-stick {
    width: 100px;
    height: 1px;
    background: #BB945F;
}

.menu-container {
    h2 {
        color: #BB945F;
        height: auto;

        &::after {
            display: none;
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.coffee-tea-menu {
    .shop-item-title {
        width: 197px;
        text-align: left;
    }
}

.price {
    font-family: Forum;
}

.deserts {
    h2 {
        text-align: right;
    }

    .shop-list {
        align-items: end;
    }
}

#section-contacts {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

.contacts-info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
        text-align: left;
    }
}

.library-inquiries {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;
    line-height: 40px;
}

.library-inquiries-numbers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.library-inquiries-numbers-item {
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.senior-staff {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.senior-stuff-title {
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.senior-stuff-name {
    letter-spacing: 2px;
    text-transform: capitalize;

    span {
        font-weight: 700;
    }
}

.text-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.find-card-library-title {
    font-size: 30px;
    letter-spacing: 0.6px;
}

#section-library-card {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

.library-card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.find-card-library-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.white-board {
    border: 3px solid #BB945F;
    padding: 20px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.gold-board {
    width: 560px;
    height: 272px;
    background: #BB945F;
    padding: 20px 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gold-board-title {
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
    text-align: left;
}

.common-input-text-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-text {
    width: 520px;
    height: 66px;
    border-radius: 10px;
    border: 0;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 20px;
}

.button-check {
    font-size: 20px;
    border-radius: 2px;
    padding: 10px 40px;
}

.get-card-container {
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 35px;
}

.get-card-title {
    font-family: Forum;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.6px;
}

.get-card-description {
    letter-spacing: 0.4px;
    text-align: right;
}

.library-card-button {
    display: flex;
    gap: 20px;
}

.button-sign-up {
    padding: 9px 15.5px;
}

.button-log-in {
    padding: 9px 20px;
}

footer {
    background: #0C0C0E;
}

.footer-container {
    padding-bottom: 44px;
}

.upper-part-footer-container {
    display: flex;
    justify-content: space-between;
}

.address-social-network {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.library-address {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 225px;
    text-align: left;
}

.icons-social-network {
    height: 40px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opening-hours-title {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 150px;
    text-align: right;

    span {
        white-space: nowrap;
    }
}

.line-footer {
    height: 1px;
    background: #FFF;
    margin-top: 30px;
    margin-bottom: 44px;
}